<main class="w-75 m-auto card shadow p-4 mt-5">
    <form (ngSubmit)="onSubmitSignIn(signInForm)" #signInForm="ngForm">

        <h1 class="fw-normal text-center">CONNECTION</h1>

        <div class="mt-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email address" name="email"
                   autocomplete="email" required email ngModel>
        </div>

        <div class="mt-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                   required ngModel>
        </div>

        <div class="form-check text-start mt-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault"
                   name="keepConnection" [ngModel]="false">
            <label class="form-check-label" for="flexCheckDefault">
                Remember me
            </label>
        </div>

        <p class="alert alert-danger mt-3 p-2" *ngIf="!isValid">Your email address or password is incorrect</p>

        <div class="text-center mt-3">
            <button
                    type="submit"
                    class="btn btn-dark w-50 py-2"
                    [disabled]="signInForm.invalid">
                CONNECTION
            </button>
        </div>
    </form>
</main>
