<header>
  <nav class="navbar px-5 py-2 text-bg-dark border-bottom">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start w-100">
        <a routerLink="/" class="my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img src="assets/Monster_Hunter_Logo.png" alt="logo" width="100" class="img-fluid"/>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a routerLink="/monsters" class="nav-link text-white">
              <fa-icon class="me-1" [icon]="iconeHome"></fa-icon>
              HOME
            </a>
          </li>
          <li *ngIf="isConnected$ | async">
            <button (click)="onClickSignOut()" class="btn btn-outline-light ">
              <fa-icon class="me-1"  [icon]="iconLogout"></fa-icon>
              Log out
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
