<script src="../details-monster/details-monster.component.ts"></script>
<main class="mt-5">
  <h1 class="text-center">MONSTERS</h1>

  <section class="mt-4">
    <div class="d-flex justify-content-end my-4">
      <button class="btn btn-primary" (click)="onClickAddMonster(modalMonsterForm)">ADD MONSTER</button>
    </div>

    <div *ngIf="!monsterExist" class="spinner-border d-block mx-auto" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>


    <table *ngIf="monsterExist" class="table table-striped">
      <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Species</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let monster of monsters$ | async">
        <th scope="row">{{monster.id}}</th>
        <td>{{monster.name}}</td>
        <td>{{monster.type}}</td>
        <td>{{monster.species}}</td>
        <td>{{monster.description}}</td>
        <td class="col-3">
          <a [routerLink]="['/', 'monsters', monster.id]" class="btn btn-outline-primary my-auto">DETAILS</a>
          <button class="btn btn-outline-warning mx-2" (click)="onClickEditMonster(modalMonsterForm, monster)">UPDATE</button>
          <button class="btn btn-outline-danger" (click)="onClickDelete(modalDeleteMonster, monster)">DELETE</button>
        </td>
      </tr>
      </tbody>
    </table>
  </section>

  <ng-template #modalDeleteMonster let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title-user-form">Removing a monster</h4>
      <button
        type="button"
        class="btn-close"
        aria-describedby="modal-title-user-form"
        (click)="modal.dismiss('cross')"
      ></button>
    </div>
    <div class="modal-body">
      <p>
        <strong>Are you sure to delete this monster : <span
          class="text-primary">{{selectedMonsterDeleteConfirmation?.name}}</span> ?</strong>
      </p>
      <p>
        <span class="text-danger">The deletion is irreversible.</span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('ok')">Confirmed</button>
    </div>
  </ng-template>

  <ng-template #modalMonsterForm let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">{{selectedMonsterForEdition ? 'UPDATE ' : 'ADD '}}A
        MONSTER</h4>
      <button
        type="button"
        class="btn-close"
        aria-describedby="modal-title-user-form"
        (click)="modal.dismiss('cross')"
      ></button>
    </div>
    <div class="modal-body">
      <form *ngIf="monsterForm" [formGroup]="monsterForm">
        <div class="mt-2">
          <label for="name" class="form-label">Name :</label>
          <input type="text" class="form-control" id="name" placeholder="Name"
                 formControlName="name">
          <app-form-errors [group]="monsterForm" controlName="name" controlLabel="Name"></app-form-errors>
        </div>

        <div class="mt-2">
          <label for="type" class="form-label">Type :</label>
          <select class="form-select" id="type" formControlName="type">
            <option *ngFor="let type of types | keyvalue" [value]="type.value">{{type.value}}</option>
          </select>
          <app-form-errors [group]="monsterForm" controlName="type" controlLabel="Type"></app-form-errors>
        </div>

        <div class="mt-2">
          <label for="species" class="form-label">Species :</label>
          <select class="form-select" id="species" formControlName="species">
            <option *ngFor="let species of speciesList | keyvalue" [value]="species.value">{{species.value}}</option>
          </select>
          <app-form-errors [group]="monsterForm" controlName="species" controlLabel="Species"></app-form-errors>
        </div>

        <div class="mt-2">
          <label for="description" class="form-label">Description :</label>
          <textarea type="text" class="form-control" id="description" placeholder="Description"
                    formControlName="description" rows="5"></textarea>
          <app-form-errors [group]="monsterForm" controlName="description" controlLabel="Description"></app-form-errors>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel')">CANCEL</button>
      <button type="button" class="btn btn-dark" [disabled]="monsterForm && monsterForm.invalid"
              (click)="onSubmitMonsterForm(modal)">{{selectedMonsterForEdition ? 'UPDATE' : 'ADD'}}</button>
    </div>
  </ng-template>

  <ngb-toast
    *ngIf="showDeleteSuccessToast"
    class="position-fixed top-0 end-0 p-1 m-3 bg-success text-light"
    [autohide]="true"
    [delay]="4000"
    (hidden)="showDeleteSuccessToast = false"
  >Monster removed successfully.
  </ngb-toast>
</main>
